@import '~bootstrap/scss/bootstrap';

.board {
  height: 300px;
  max-width: 300px;
}

.cell {
  border: 2px solid black;
  height: 100px;
}

.cell:nth-child(3n) {
  border-right: 0;
}

.cell:nth-child(1n) {
  border-left: 0;
}
.cell-row:nth-child(1n) > .cell {
  border-top: 0;
}
.cell-row:nth-child(3n) > .cell {
  border-bottom: 0;
}
.redc {
  background: red;
}
.x-style {
  background: red;
}
.o-style {
  background: blue;
}
